<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- public User findUserByNameAndPwd(String name,String pwd); public User 
	findUserByName(String name); public boolean insertUser(User user); public 
	boolean updateUser(User user); -->
<mapper namespace="xyz.zhhg.zblog.web.dao.MenuDao">
	<resultMap type="xyz.zhhg.zblog.web.pojo.Menu" id="MenuList">
		<id property="id" column="id"/>
		<result property="superiorId" column="superiorId"/>
		<result property="name" column="name"/>
		<result property="url" column="url"/>
		<result property="status" column="status"/>
		<result property="usertype" column="usertype"/>
		
	</resultMap>
	<resultMap type="xyz.zhhg.zblog.web.pojo.Menu" id="ChildList" extends="MenuList">
		<collection property="childList" select="getMenuList" 
		ofType="ChildList" column="{superiorId=id,usertype=usertype}">
		</collection>
	</resultMap>
	<insert id="insertMenu" parameterType="xyz.zhhg.zblog.web.pojo.Menu">
		insert into menu(menu_superior,menu_url,menu_usertype,menu_name)
		value(
			#{superiorId},
			#{url},
			#{usertype},
			#{name}
		)
	</insert>
	
	<sql id="menuInfo">
		menu_id as id,menu_superior as superiorId,menu_url as url,menu_usertype as usertype,menu_name as name
	</sql>
	
	<!-- 获取菜单列表 -->
	<!-- 查询所有顶级菜单以及菜单项的子菜单列表 -->
	<select id="getMenuList" parameterType="hashmap" resultMap="ChildList">
		select <include refid="menuInfo"></include>
		from menu 
		<where>
			menu_status=0
			<if test="userType!=null and userType!=1">
				and menu_usertype=#{usertype}
			</if>
			and menu_superior=
			<choose>
				<when test="superiorId!=null">
					#{superiorId}
				</when>
				<otherwise>
					0
				</otherwise>
			</choose>
		</where>
	
	</select>
</mapper>