<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- public User findUserByNameAndPwd(String name,String pwd); public User 
	findUserByName(String name); public boolean insertUser(User user); public 
	boolean updateUser(User user); -->
<mapper namespace="xyz.zhhg.zblog.web.dao.UserDao">
	<resultMap type="xyz.zhhg.zblog.web.pojo.User" id="userResultMap">
		<id property="id" column="user_id" />
		<result property="name" column="user_name" />
		<!-- <result property="pwd" column="user_password" /> -->
		<result property="type" column="user_type" />
		<result property="ip" column="user_ip" />
		<result property="status" column="user_status" />
		<result property="email" column="user_email" />
		<result property="phone" column="user_phone" />
		<result property="headIcon" column="user_headicon"/>
	</resultMap>
	
	<select id="findUserByNameAndPwd" resultMap="userResultMap">
		select * from user
		where user_name = #{0} and user_password=#{1};
	</select>
	
	<select id="findUserByName" parameterType="string" resultMap="userResultMap">
		select * from user
		where user_name = #{name};
	</select>
	
	<insert id="insertUser" parameterType="xyz.zhhg.zblog.web.pojo.User">
		insert into user (user_name,user_type,user_password,user_ip,user_email,user_phone)
			value (
				#{name},
				#{type},
				#{pwd},
				#{ip},
				#{email},
				#{phone}
			);
	</insert>
	
	<update id="updateUser" parameterType="xyz.zhhg.zblog.web.pojo.User">
		update user
		<set>
			<!-- <if test="name !=null">
				user_name=#{name},
			</if> -->
			<if test="pwd !=null">
				user_password=#{pwd},
			</if>
			<if test="type !=0">
				user_type=#{type},
			</if>
			<if test="status!=0">
				user_status=status,
			</if>
			<if test="ip !=null">
				user_ip=#{ip},
			</if>
			<if test="email!=null">
				user_email=#{email},
			</if>
			<if test="phone !=null">
				user_phone=#{phone},
			</if>
		</set>
		where user_id=#{id};
	</update>
	
	<sql id="userInfo">
		user_id,user_name,user_ip,user_email,user_phone ,user_type 
	</sql>
	<select id="getUserInfoById" parameterType="java.math.BigInteger" resultMap="userResultMap">
		select <include refid="userInfo"></include> 
		from user where user_id=#{id};
	</select>
	
	
	
</mapper>